html {
  width: 100%;
  height: 100%;
}

@media (max-device-width : 8in) {

  .ldBar path.mainline {
    stroke-linecap: round;
  }
  .ldBar path.baseline {
    stroke-linecap: round;
    filter:url(#custom-shadow);
  }

  #loader {
    width: 35% !important;
    height: 35% !important;
    position: fixed;
    z-index: 10;
    font-family: monospace;
    color: rgb(255,140,0);
    font-size: 5em;
    top: 32%;
    left: 32%;
  }

#loadwrapper {
  z-index: 9;
  position: absolute;
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

body {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  padding: 5px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

#mobile-scroller {
  overflow: auto;
  max-height: calc(100% - 157px);
  font-size: 14pt;
  font-family: monospace;
}

#canvas-complex {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#title {
  display: flex;
  order: 1;
  height: auto;
  width: auto;
  /* max-width: 400px; */
  min-width: 150px;
  margin: 20px auto;
  padding: 10px 30px;
  text-align: center;
  color: darkorange;
  font-family: papyrus, monospace;
  font-size: 38pt;
  background-color: rgba(0,0,0,.5);
}

.sidebox {
  display: block;
  width: calc(100% - 32px);
  /* min-width: 200px; */
  height: calc(50% - 22px);
  margin: 5px;
  padding: 5px;
}

#summaryBox {
  /* display: flex; */
  order: 3;
}

#stat {
  height: auto;
  background-color: rgba(0,0,0,.0);
  /* font-size: 28pt; */
  padding: 2px 4px;
  margin: 0px 5px;
}

#summaryText {
  display: none;
  height: calc(100% - 386px);
  overflow: auto;
  margin: 5px;
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.6);
}

p {
  margin: 0px;
  font-family: monospace;
  color: darkorange;
  font-size: 28pt;
}

#vis1 {
  display: none;
  order: 4;
}

#map {
  display: flex;
  order: 2;
  z-index: 1;
  /* vertical-align: bottom; */
  width: calc(100% - 32px);
  /* min-width: 100px; */
  height: calc(50% - 22px);
  margin: 5px auto 5px auto;
  padding: 5px;
}

.bgBox {
  background-color: rgba(0,0,0,.5);
  border-style: solid;
  border-width: 5px;
  border-color: darkorange;
}

a {
  color: darkorange;
}


/* Tracks */
/* Let's get this party started */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkorange; 
}


/* Buttons */

select {
  display: none;
  background-color: rgba(0,0,0,.0);
  color: darkorange;
  font-family: monospace;
  font-size: 39pt;
  outline: none;
  border-color: darkorange;
  border-width: 0px 0px 2px 0px;
  width: calc(100% - 22px);
  margin: 20px 5px 0px 5px;
  padding: 2px 0px;
}

option {
  background-color: rgb(38,38,38);
  font-size: 28pt;
}

.toggle-on {
  display: inline-block;
  background-color: darkorange;
  outline: none;
  width: calc(25% - 10px);
  height: 60px;
  text-align: center;
  color: black;
  font-family: monospace;
  font-size: 28pt;
  font-weight: bold;
  border-width: 0px;
  margin: 5px;
}

.toggle-off {
  display: inline-block;
  background-color: rgba(0,0,0,0);
  outline: none;
  width: calc(25% - 10px);
  height: 60px;
  text-align: center;
  color: darkorange;
  font-family: monospace;
  font-size: 28pt;
  font-weight: bold;
  border-width: 0px;
  margin: 5px;
}
}

@media (min-device-width : 8in) {

  .ldBar path.mainline {
    stroke-linecap: round;
  }
  .ldBar path.baseline {
    stroke-linecap: round;
    filter:url(#custom-shadow);
  }

  #loader {
    position: fixed;
    z-index: 10;
    font-family: monospace;
    color: rgb(255,140,0);
    top: calc(50% - 45px);
    left: calc(50% - 45px);
  }

  #loadwrapper {
    z-index: 9;
    position: absolute;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }

  body {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding: 5px;
    margin: auto;
  }

  #canvas-complex {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  #title {
    height: auto;
    width: calc(50% - 12px);
    max-width: 400px;
    min-width: 150px;
    margin: 50px auto 100px auto;
    text-align: center;
    color: darkorange;
    font-family: papyrus;
    background-color: rgba(0,0,0,.5);
  }

  .sidebox {
    width: calc(25% - 22px);
    /* min-width: 200px; */
    height: calc(100% - 22px);
    margin: 5px;
    padding: 5px;
  }

  #mobile-scroller {
    height: 100%;
    max-height: calc(100% - 81px);
    width: 100%;
  }

  #summaryBox {
    float:left;
  }

  #stat {
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,.0);
    padding: 2px 4px;
    margin: 0px 5px;
  }

  #summaryText {
    display: none;
    overflow: auto;
    height: 100%;
    margin: 5px;
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    background-color: rgba(0,0,0,.6);
  }

  p {
    margin: 0px;
    font-family: monospace;
    color: darkorange;
  }

  #vis1 {
    float: right;
  }

  #map {
    display: block;
    z-index: 1;
    /* vertical-align: bottom; */
    width: calc(50% - 22px);
    /* min-width: 100px; */
    height: calc(100% - 220px);
    margin: 5px auto 5px auto;
    padding: 5px;
  }

  .bgBox {
    background-color: rgba(0,0,0,.5);
    border-style: solid;
    border-width: 1px;
    border-color: darkorange;
  }

  a {
    color: darkorange;
  }


  /* Tracks */
  /* Let's get this party started */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darkorange; 
  }


  /* Buttons */

  select {
    display: none;
    background-color: rgba(0,0,0,.0);
    color: darkorange;
    font-family: monospace;
    font-size: 10pt;
    outline: none;
    border-color: darkorange;
    border-width: 0px 0px 1px 0px;
    width: calc(100% - 10px);
    margin: 5px 5px 0px 5px;
    padding: 2px 0px;
  }

  option {
    background-color: rgb(38,38,38);
  }

  .toggle-on {
    display: inline-block;
    background-color: darkorange;
    outline: none;
    width: calc(50% - 10px);
    height: 25px;
    text-align: center;
    color: black;
    font-family: monospace;
    font-weight: bold;
    border-width: 0px;
    margin: 5px;
  }

  .toggle-off {
    display: inline-block;
    background-color: rgba(0,0,0,0);
    outline: none;
    width: calc(50% - 10px);
    height: 25px;
    text-align: center;
    color: darkorange;
    font-family: monospace;
    font-weight: bold;
    border-width: 0px;
    margin: 5px;
  }
}

