html {
  width: 100%;
  height: 100%;
}

body {
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  padding: 5px;
}


#title {
  width: 400px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 5%;

  text-align: center;
  color: darkorange;
  font-family: papyrus;
  padding: 5px;
}

.bgBox {
  border-style: ridge;
  border-color: darkorange;
  border-width: 1px;

  background-color: rgba(0,0,0,.5);

  margin: 5px;
}

.sidebox {
  display:inline-block;
  vertical-align: top;
  width: calc(25% - 22px);
  height: calc(88% - 130px);
  padding: 10px;
}

#map {
  display: inline-block;
  width: calc(50% - 40px);
  height: calc(90% - 130px);
  z-index: 0;
  opacity: 1.0;
}
#canvas-complex {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
 
#stat {
  padding-left: 4px;
}

select {
  display: none;
  padding-bottom: 2px;
  background-color: rgba(0,0,0,0);
  font-family: monospace;
  color: darkorange;
  outline: none;
  border-width: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: darkorange;
  width: 100%;
}

option {
  background-color: rgba(0,0,0,0);
}

p {
  color: darkorange;
  overflow:auto;
  width: 100%;
  font-family: monospace;
  margin-top: 1px;
  margin-bottom: 1px;
}

#summaryText {
  display: none;
  border-radius: 3px;
  margin-top: 0px;
  padding: 7px;
  background-color: rgba(0,0,0,.5);
  width: calc(100% - 14px);
  height: 77%;
}


/* Tracks */
/* Let's get this party started */
::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkorange; 
}

.toggle {
  display: inline-block;
  /* background-color: darkorange; */
  width: calc(50% - 2px);
  height: 25px;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  border-width: 0px;
  margin-bottom: 10px;
}

#UFObutton {
  outline: none;
  background-color: darkorange;
  color: black;
}

#BFbutton {
  outline: none;
  background-color: darkorange;
  color: black;
}
